# server config
NODE_ENV=
PORT=

# # DB config
DATABASE_URL=

# redis config
REDIS_URL=redis://localhost:6379

# clerk config
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Groq config
GROQ_API_KEY=

# langSmith config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
